<h1>Profile#edit</h1>

<%= form_for(:profile, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div class="field">
    <%= f.label :business_name %><br />
    <%= f.text_field :business_name %>
  </div>
  
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

